<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my shop PHP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/js.js" defer></script>
</head>
<body>
{{ header | raw }}
{{ menu | raw }}
<main>
    {{ content | raw }}
</main>
</body>
</html>
